black
neo4j
pandas
environs
loguru
elasticsearch
#scikit-learn
scipy
plotly
pip
setuptools
wheel
spacy
#scispacy
fastapi==0.63.0
#pydantic==0.18.2
pytest
uvicorn==0.13.4
anonymizeip
spacy_universal_sentence_encoder
